.card-registration{
    background-color: #E9DBCF !important;
    color: #084040;
}

::placeholder{
  color: #084040 !important;
  opacity: 1 !important;
}

.regist-form-color{
  background-color: #E9DBCF !important;
}



.card{
  margin-bottom: 20px !important;
}



