main{
  background-color: #E9DBCF;
}



.btn-primary {
  color: #bfa380 !important;
  background-color: #084040 !important;
  border: 1px solid #084040 !important; /* Ensure border is visible */
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #E9DBCF !important;
}
footer{
  margin-top: auto;
}


@media screen and (max-width: 768px) {
  main{
    background-color: white;
  }
  }